@keyframes edition {
  0% {transform: scale(0)}
  100% {transform: scale(1)}
}

.makeTr {
  animation: makeTr 0.5s;
}
@keyframes makeTr {
  0% {opacity: 1}
  100% {opacity: 0}
}

.makeVs {
  animation: makeVs 0.5s;
}
@keyframes makeVs {
  0% {opacity: 0}
  100% {opacity: 1}
}

.foldIn {
  animation: foldIn 0.5s;
}
@keyframes foldIn {
  0% {transform: rotateY(0deg)}
  100% {transform: rotateY(90deg)}
}

.foldOut {
  animation: foldOut 0.5s;
}
@keyframes foldOut {
  0% {transform: rotateY(90deg)}
  100% {transform: rotateY(0deg)}
}

.fallDown {
  position: relative;
  animation: fallDown 2s;
}
@keyframes fallDown {
  0% {opacity: 0; top: -50vh}
  80% {opacity: 1}
  100% {top: 0}
}

.showReminder {
  animation: showReminder 0.7s;
}
@keyframes showReminder {
  0% {transform: scaleY(0); margin-top: 0; margin-bottom: 0; font-size: 0;}
  100% {transform: scaleY(1); margin-top: 30px; margin-bottom: 30px; font-size: 20px;}
}

.hideReminder {
  animation: hideReminder 0.7s;
}
@keyframes hideReminder {
  0% {transform: scaleY(1); margin-top: 30px; margin-bottom: 30px; font-size: 20px;}
  100% {transform: scaleY(0); margin-top: 0; margin-bottom: 0; font-size: 0;}
}

.slideInLeft {
  position: relative;
  animation: slideInLeft 1s;
}
@keyframes slideInLeft {
  0% {right: 500px;}
  100% {right: 0px;}
}

.slideInRigth {
  position: relative;
  animation: slideInRigth 1s;
}
@keyframes slideInRigth {
  0% {left: 500px;}
  100% {left: 0px;}
}

.gameAN {
  animation: makeVs 1s;
}

.titleAN {
  position: relative;
  animation: titleAN 1.5s;
}
@keyframes titleAN {
  0% {bottom: 150px; opacity: 0;}
  80% {bottom: -10px; opacity: 0.3;}
  100% {bottom: 0px; opacity: 1;}
}

.accessAN {
  animation: accessAN 1.5s;
}
@keyframes accessAN {
  0% {transform: rotateY(90deg)}
  100% {transform: rotateY(0deg)}
}
.accessHideAN {
  animation: makeVs 1.5s;
}
