/*
      GENERAL CLASSES
*/
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
html {
  min-height: 100%;
  margin: 0;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: Ubuntu;
  color: #FFFFFF;
  background-color: #212121;
}
input#text, input#login {
   display: block;
   text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.5);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.hide {
  opacity: 0;
}

.hideDisplay {
  display: none !important;
}

.pageDiv {
  position: relative;
  min-height: 100vh;
}

.mainDiv {
  padding-bottom: 80px;
}

/*
      TITLE CLASSES
*/

.divTitle {
  background-color: transparent;
  text-align: center;
  margin: 0 0 30px 0;
  padding-top: 30px;
  color: #FFFFFF;
}

.gioele {
  color: transparent;
  background-image: url("..\\img\\gioele.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title {
  font-size: 90px;
  letter-spacing: 3px;
  margin: 0 0 0 0;
}

.subtitle {
  font-size: 20px;
  margin: 0 0 0 0;
}


/*
      LOGIN CLASSES
*/

.divLogin {
  width: 400px;
  height: 360px;
  background-color: #303030;
  margin: 0 auto;
}

.textAccess {
  font-size: 36px;
  line-height: 41px;
  padding-top: 17px;
}

/*
            WARNING
    VIETNAM FLASHBACKS AHEAD

.text::before{
  content: "";
  display: block;
  margin: 0 auto;
  width: 160px;
  padding:3.8px 0 1.5px 0;
  border-bottom: 1px solid gainsboro;
}
*/

.textbox {
  width: 317px;
  height: 42px;
  background-color: #424242;
  outline: none;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding-left: 13px;
  color: rgba(255, 255, 255, 0.5);
  cursor: auto;
}

.exception {
  margin: 3px 0 3px 0;
  font-weight: normal;
  font-size: 16px;
  color: #F53939;
}

.wrapper {
  display: inline-block;
  float: right;
}

.divRemember {
  margin: 20px 260px 0 35px;
  cursor: pointer;
}

.remember {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.rememberText {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  padding-left: 10px;
  top: -2px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.forgotPassword{
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: 20px 0 0 35px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.loginButton {
  float: right;
  width: 136px;
  height: 36px;
  background-color: #4471E6;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: gainsboro;
  margin-bottom: 0;
  margin-right: 35px;
  cursor: pointer;
}
.loginButton:hover {
  background-color: #4268C9;
}
.loginButton:focus {
  outline: none;
}
.loginButton:active {
  background-color: #3F6ED4;
}

.register {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
  margin: 30px 149px 0 149px;
  padding-bottom: 24px;
  cursor: pointer;
}

.reminder {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 30px;
  margin-bottom: 30px;
}

/*
      SIGN IN CLASSES
*/

.divSignin {
  width: 400px;
  height: 470px;
  background-color: #303030;
  margin: 0 auto;
}

.textReg {
  text-align: center;
  font-size: 36px;
  margin-bottom: 16px;
  padding-top: 16px;
}

.textboxReg {
  width: 317px;
  height: 42px;
  background-color: #424242;
  outline: none;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding-left: 13px;
  color: rgba(255, 255, 255, 0.5);
  cursor: auto;
}

.wrapperReg{
  width: auto;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  margin-left: 114px;
}

.loadingDiv {
  left: 10px;
  margin: 0 0 0 16px;
  display: inline-block;
}

.signinButton{
  text-align: center;
  width: 172px;
  height: 36px;
  background-color: #4471E6;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: gainsboro;
  margin-bottom: 0;
  cursor: pointer;
}
.signinButton:hover {
  background-color: #4268C9;
}
.signinButton:focus {
  outline: none;
}
.signinButton:active {
  background-color: #3F6ED4;
}

.alreadySigned {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: 20px 150px 0 150px;
  cursor: pointer;
}

/*
      GAME CLASSES
*/

.divSession{
  width: 100%;
  display: inline-flex;
}

.leftSession {
  margin-left: auto;
  margin-right: 60px;
  width: 350px;
}

.centralSession {
  width: 550px;
}

.rightSession {
  margin-left: 60px;
  margin-right: auto;
  width: 350px;
}

.sessionTitle {
  text-align: center;
  font-size: 28px;
  color: gainsboro;
  background-color: #303030;
  margin: 0 0 0 0;
  padding-top: 21px;
  padding-bottom: 21px
}

.sessionSub {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 0 0;
  padding: 0 18px 18px 20px;
}

.divProfile {
  display: inline-block;
  width: 100%;
  height: 230px;
  background-color: #303030;
  margin-bottom: 60px;
}

.editProfile {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 0 0;
  margin-bottom: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.logout {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 0 0;
  margin-bottom: 20px;
  margin-right: 40px;
  cursor: pointer;
}

.editUsername {
  width: 265px;
  height: 36px;
  background-color: #424242;
  outline: none;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding-left: 13px;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 35px 5px 35px;
  cursor: auto;
}

.confirmEdit {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  margin: 20px 0 0 35px;
  cursor: pointer;
}

.exceptionEdit {
  display: inline-block;
  float: right;
  margin: 20px 35px 0 0;
  font-size: 16px;
  font-weight: normal;
  color: #F53939;
}

.discardEdit {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  margin: 20px 0 0 35px;
  cursor: pointer;
}

.deleteProfile {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: #F53939;
  margin: 20px 35px 0 0;
  cursor: pointer;
}

.deleteSub {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}

.deleteConfirm {
  text-align: center;
  width: 100px;
  height: 36px;
  background-color: #4471E6;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: gainsboro;
  margin-left: 35px;
  cursor: pointer;
}
.deleteConfirm:hover {
  background-color: #4268C9;
}
.deleteConfirm:focus {
  outline: none;
}
.deleteConfirm:active {
  background-color: #3F6ED4;
}

.deleteUndo {
  float: right;
  text-align: center;
  width: 100px;
  height: 36px;
  background-color: #D23535;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: gainsboro;
  margin-right: 35px;
  cursor: pointer;
}
.deleteUndo:hover {
  background-color: #BE3333;
}
.deleteUndo:focus {
  outline: none;
}
.deleteUndo:active {
  background-color: #C93333;
}

.divRules {
  width: 350px;
  height: 310px;
  background-color: #303030;
}

.divGame {
  width: 550px;
  height: 350px;
  background-color: #303030;
  text-align: center;
}

.attempt {
  margin: 0 0 0 0;
  font-weight: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.gameAttempt {
  width: 298px;
  height: 80px;
  font-size: 45px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #424242;
  border: none;
  margin: 22px 0 22px 0;
  cursor: auto;
  -moz-appearance: textfield;
}

.gameAttempt:focus {
  outline: none;
}

.gameButton {
  width: 174px;
  height: 46px;
  background-color: #4471E6;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: gainsboro;
  margin-bottom: 10px;
  cursor: pointer;
}
.gameButton:hover {
  background-color: #4268C9;
}
.gameButton:focus {
  outline: none;
}
.gameButton:active {
  background-color: #3F6ED4;
}

.gameException {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: normal;
  color: #F53939;
}

.gameResult {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 0 0;
}

.divLeaderboard {
  height: 600px;
  background-color: #303030;
}

.tableHeader {
  width: 300px;
  overflow: auto;
  margin: 0 20px 0 20px;
  border: 2px solid rgb(89, 89, 89);
  border-bottom: none;
}

.leaderboardTable {
  border-collapse: collapse;
}

th, tr {
  border-left: 2px solid rgb(89, 89, 89);
  border-right: 2px solid rgb(89, 89, 89);
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px 11px 10px 11px;
}

tr:nth-child(even) {
  background-color: #424242;
}

.leaderboardLink{
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  margin: 20px 0 20px 20px;
  text-decoration: underline;
  cursor: pointer;
}

.refreshLeaderboard {
  display: inline-block;
  font-size: 20px;
  float: right;
  margin: 20px 20px 0 0;
  cursor: pointer;
}

.mobileLeaderboard {
  display: none;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.mobileLink {
  font-weight: normal;
  font-size: 14px;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}

/*
  FOOTER
*/

.footerDiv {
  position: absolute;
  text-align: center;
  background-color: transparent;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.footer {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
}

.tronweb {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
