/*
      GENERAL CLASSES
*/
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: Ubuntu;
  color: #FFFFFF;
  background-color: #212121;
}
input#text, input#login {
   display: block;
   text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.hide {
  opacity: 0;
}

.hideDisplay {
  display: none !important;
}

/*
      TITLE CLASSES
*/

.divTitle {
  background-color: transparent;
  color: gainsboro;
  text-align: center;
  margin-bottom: 15px;
}

.gioele {
  color: transparent;
  background-image: url("gioele.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title {
  position: relative;
  font-size: 6vw;
  letter-spacing: 3px;
  margin: 0 0 0 0;
  padding-top: 0px;
}

.subtitle {
  position: relative;
  font-size: 6vw;
  letter-spacing: 3px;
  margin: 0 0 0 0;
  margin-bottom: 15px;
}

.edition {
  position: relative;
  font-size: 1.39vw;
  margin: 0 10vw 0 10vw;
  animation: edition 2s;
}

/*
      LOGIN CLASSES
*/

.divAccess {
  width: 27.77vw;
  height: auto;
  background-color: #303030;
  margin: 0 auto;
  padding-left: 2.43vw;
  padding-right: 2.43vw;
}

.textAccess {
  font-size: 2.5vw;
  margin: 0 10.41vw 1.18vw 10.41vw;
  padding-top: 1.18vw;
}

/*
            WARNING
    VIETNAM FLASHBACKS AHEAD

.text::before{
  content: "";
  display: block;
  margin: 0 auto;
  width: 160px;
  padding:3.8px 0 1.5px 0;
  border-bottom: 1px solid gainsboro;
}
*/

.textbox {
  width: 26.77vw;
  height: 2.91vw;
  background-color: #424242;
  outline: none;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.38vw;
  padding-left: 1vw;
  color: rgba(255, 255, 255, 0.5);
}

.exception {
  margin: 0.37vw 0 0.37vw 0;
  font-size: 1.25vw;
  color: #F53939;
}

.wrapper {
  display: inline-block;
  float: right;
}

.remember {
  width: 1.11vw;
  height: 1.11vw;
}

.rememberText {
  position: relative;
  display: inline-block;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: normal;
  padding-left: 0.6vw;
  top: -0.15vw;
  color: rgba(255, 255, 255, 0.7);
}

.forgotPassword{
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9vw;
  margin-top: 1vw;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}

.loginButton {
  float: right;
  width: 9.44vw;
  height: 2.91vw;
  background-color: #4471E6;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.38vw;
  color: gainsboro;
  margin-bottom: 0;
}
.loginButton:hover {
  background-color: #4268C9;
}
.loginButton:focus {
  outline: none;
}
.loginButton:active {
  background-color: #3F6ED4;
}

.register {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 2vw;
  padding-bottom: 1.18vw;
}

/*
      SIGN IN CLASSES
*/
.textReg {
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 1.18vw;
  padding-top: 1.18vw;
}

.textboxReg {
  width: 26.77vw;
  height: 2.91vw;
  background-color: #424242;
  outline: none;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.38vw;
  padding-left: 1vw;
  color: rgba(255, 255, 255, 0.5);
}

.wrapperReg{
  text-align: center;
  margin-top: 2vw;
}

.signinButton{
  text-align: center;
  width: 11.94vw;
  height: 2.5vw;
  background-color: #4471E6;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.38vw;
  color: gainsboro;
  margin-bottom: 0;
}
.signinButton:hover {
  background-color: #4268C9;
}
.signinButton:focus {
  outline: none;
}
.signinButton:active {
  background-color: #3F6ED4;
}

.alreadySigned {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  color: rgba(255, 255, 255, 0.7);
  margin: 2vw 10.42vw 0 10.42vw;
  padding-bottom: 1.18vw;
}

/*
      GAME CLASSES
*/

.divSession{
  width: 100%;
  display: inline-flex;
}

.leftSession {
  margin-left: 2.56vw;
  margin-right: 4.16vw;
  width: 24.3vw;
}

.centralSession {
  width: 38.19vw;
}

.rightSession {
  margin-left: 4.16vw;
  margin-right: 2.56vw;
  width: 24.3vw;
}

.sessionTitle {
  text-align: center;
  font-size: 28px;
  color: gainsboro;
  background-color: #303030;
  margin: 0 0 0 0;
  padding-top: 1vw;
  padding-bottom: 1vw
}

.sessionSub {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  padding: 0 1vw 1vw 1vw;
}

.divInfo {
  width: 100%;
  background-color: #303030;
  margin-bottom: 4.16vw;
}

.divRules {
  width: 100%;
  background-color: #303030;
  margin-top: 4.16vw;
}

.divGame {
  width: 100%;
  background-color: #303030;
  text-align: center;
}

.attempt {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.7);
}

.gameAttempt {
  width: 298px;
  height: 81px;
  font-size: 45px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #424242;
  border: none;
  margin: 1vw 0 1vw 0;
}

.gameAttempt:focus {
  outline: none;
}

.gameButton {
  width: 174px;
  height: 46px;
  background-color: #4471E6;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: gainsboro;
  margin-bottom: 1vw;
}
.gameButton:hover {
  background-color: #4268C9;
}
.gameButton:focus {
  outline: none;
}
.gameButton:active {
  background-color: #3F6ED4;
}

.divLeaderboard {
  background-color: #303030;
}

.tableHeader {
  width: 22vw;
  overflow: auto;
  margin: 0 1vw 0 1vw;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.leaderboardTable {
  border-collapse: collapse;
}

th, tr {
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

tr:nth-child(even) {
  background-color: #424242;
}

.leaderboardLink{
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 0;
  padding: 1vw 1vw 1vw 2vw;
  text-decoration: underline;
}

.refreshLeaderboard {
  display: inline-block;
  height: 24px;
  width: 24px;
  float: right;
  padding: 1vw 2vw 0 0;
}

.divFooter {
  position: absolute;
  right: 0;
  top: calc(100% - 3rem - 2px);
  left: 0;
  padding: 1rem;
  background-color: #090909;
  color: #FFFFFF;
  text-align: center;
  margin-top: 200px;
}

.tronweb {
  text-decoration: none;
  color: #FFFFFF;
}
