html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: Ubuntu;
  color: darkgrey;
  background-color: #212121;
}
input#text, input#login {
   display: block;
   text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

.hide {
  opacity: 0;
}

.hideDisplay {
  display: none;
}

.divTitle {
  background-color: transparent;
  color: gainsboro;
  text-align: center;
  margin-bottom: 15px;
}

.gioele {
  color: transparent;
  background-image: url("gioele.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title {
  position: relative;
  font-size: 80px;
  letter-spacing: 3px;
  margin: 0 0 0 0;
  padding-top: 0px;
}

.subtitle {
  position: relative;
  font-size: 70px;
  letter-spacing: 3px;
  margin: 0 0 0 0;
  margin-bottom: 15px;
}

.edition {
  position: relative;
  font-size: 20px;
  margin: 0 10vw 0 10vw;
  animation: edition 2s;
}

.divAccess {
  border: 2px solid darkgrey;
  background-color: #090909;
  text-align: center;
  width: min-content;
  margin: 0 auto;
  color: 100%;
}

.textAccess {
  font-size: 30px;
  margin: 7.6px 0 0 0;
}

.text {
  padding: 7.6px 0 2.3px 0;
  margin: 0 0 0 0;
}

/*
            WARNING
    VIETNAM FLASHBACKS AHEAD

.text::before{
  content: "";
  display: block;
  margin: 0 auto;
  width: 160px;
  padding:3.8px 0 1.5px 0;
  border-bottom: 1px solid gainsboro;
}
*/

.textbox {
  width: 155px;
  margin: 0 50px 0 50px;
}

.but {
  margin: 7.6px auto 7.6px auto;
}

.divSession{
  width: 100%;
  display: inline-flex;
}

.leftSession {
  margin-left: 2%;
  margin-right: 2%;
  width: 26%;
}

.centralSession {
  width: 40%;
}

.rightSession {
  margin-left: 2%;
  margin-right: 2%;
  width: 26%;
}

.sessionTitle {
  text-align: center;
  font-size: 28px;
  color: gainsboro;
  background-color: #303030;
  margin: 0 0 0 0;
  padding-top: 1vw;
  padding-bottom: 1vw
}

.sessionSub {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  padding: 0 1vw 1vw 1vw;
}

.divInfo {
  width: 100%;
  background-color: #303030;
  margin-bottom: 2vw;
}

.divRules {
  width: 100%;
  background-color: #303030;
  margin-top: 2vw;
}

.divGame {
  width: 100%;
  background-color: #303030;
  text-align: center;
}

.attempt {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.7);
}

.divLeaderboard {
  background-color: #303030;
}

.tableHeader {
  width: 24vw;
  overflow: auto;
  margin: 0 1vw 0 1vw;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.leaderboardTable {
  border-collapse: collapse;
}

th, tr {
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

tr:nth-child(even) {
  background-color: #424242;
}


.divFooter {
  position: absolute;
  right: 0;
  top: calc(100% - 3rem - 2px);
  left: 0;
  padding: 1rem;
  background-color: #090909;
  color: darkgrey;
  text-align: center;
  margin-top: 200px;
}

.tronweb {
  text-decoration: none;
  color: darkgrey;
}
