* {
  font-family: Ubuntu;
}

body {
  background-color: grey;
}

.hide {
  display: none;
}

.hideR {
  display: none;
}

.align {
  display: flex;
  align-items: center;
}

.divTitle {
  opacity: 0;
  position: relative;
  bottom: 5em;
  height: 200%;
  background-color: black;
  margin-left: -0.55%;
  margin-right: -0.55%;
  animation: AN_FadeIn 0.5s;
  animation-delay: 1s;
}

.title {
  opacity: 0;
  position: relative;
  text-align: center;
  font-size: 120px;
  color: gainsboro;
  margin-left: 35%;
  margin-right: 35%;
  animation: AN_title 1.5s;
  animation-delay: 1.5s;
}

.subtitle {
  opacity: 0;
  position: relative;
  bottom: 0.5em;
  text-align: center;
  font-size: 69px;
  color: gainsboro;
  margin-left: 45%;
  margin-right: 45%;
  animation: AN_subtitle 1s;
  animation-delay: 2s;
}

.line {
  position: relative;
  top: -8em;
  margin-left: -0.55%;
  margin-right: -0.55%;
  border: 5px solid gainsboro;
  animation: AN_line 1s;
}

.exception {
  position: absolute;
  left: 2%;
  font-size: 19px;
  position: relative;
  color: gainsboro;
}

.rules{
  font-size: 20px;
  color: gainsboro;
}

.outR {
  position: relative;
  animation: AN_outR 1s;
}

.inR {
  position: relative;
  animation: AN_inR 1s;
}

.out {
  position: relative;
  animation: AN_out 0.8s;
}

.in {
  position: relative;
  animation: AN_in 0.8s;
}

.effect {
  transition: color 1s, transform 1s;
}

.effect:hover{
  color: white;
  transform: scale(1.2);
}

@keyframes AN_line {
  0% {transform: scaleX(0)}
  100% {transform: scaleX(1)}
}

@keyframes AN_FadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes AN_title {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes AN_subtitle {
  0% {bottom: 2em; opacity: 0}
  100% {bottom: 0.5em; opacity: 1}
}

@keyframes AN_inR {
  0% {left: -10%}
  70% {left: 0.5%}
  100% {left: 0%}
}

@keyframes AN_outR {
  0% {left: 0%}
  60% {left: 0.5%}
  100% {left: -10%}
}

@keyframes AN_in {
  0% {left: -25%}
  100% {left: 0%}
}

@keyframes AN_out {
  0% {left: 0%}
  100% {left: -25%}
}
