* {
  font-family: Ubuntu;
}

body {
  margin: 0px;
  margin-top: -22px;
  background-color: #404040;
}

.hide {
  display: none;
}

.hideR {
  display: none;
}

.gainsboro {
  color: gainsboro;
}

.transparent {
  color: transparent;
}

.align {
  display: flex;
  align-items: center;
}

.divTitle {
  opacity: 0;
  position: relative;
  background-color: black;
  padding-top: 0.5em;
  animation: AN_fillBlack 1s;
  animation-delay: 1s;
}

.title {
  opacity: 0;
  position: relative;
  text-align: center;
  font-size: 11ex;
  color: gainsboro;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10vw;
  margin-left: 10vw;
  padding-top: 0.3em;
  padding-bottom: 10px;
  animation: AN_fadeIn 1.5s;
  animation-delay: 1.5s;
}

.subtitle {
  opacity: 0;
  position: relative;
  text-align: center;
  font-size: 7ex;
  color: gainsboro;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10vw;
  margin-left: 10vw;
  padding-top: 10px;
  padding-bottom: 0.3em;
  animation: AN_subtitle 1s;
  animation-delay: 2s;
}

.line {
  position: relative;
  margin-top: 0px;
  border: 5px solid gainsboro;
  animation: AN_line 1s;
}

.buttonBorder {
  height: 5ch;
  background: transparent;
  border: 4px solid gainsboro;
  border-radius: 4px;
  font-size: 19px;
  font-weight: bold;
  color: transparent;
  margin-left: 1em;
  animation: AN_foldIn 1s;
}

.buttonFill {
  background: black;
  color: transparent;
  animation: AN_buttonFill 0.5s;
}

.buttonText {
  color: gainsboro;
  font-weight: bold;
  font-size: 19px;
  animation: AN_buttonText 1s;
}

.game {
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  border: 5px solid gainsboro;
  border-radius: 4px;
}

.gameStart {
  animation: AN_foldIn 1s;
}

.gameEnd {
  animation: AN_foldOut 0.5s;
}

.input {
  background-color: gainsboro;
  margin-top: 1em;
  margin-bottom: 1em;
}

.input:hover {
  background-color: white;
}

.exception {
  position: relative;
  left: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 19px;
  position: relative;
}

.rules{
  font-size: 18px;
  color: gainsboro;
}

.outR {
  position: relative;
  animation: AN_outR 1s;
}

.inR {
  position: relative;
  animation: AN_inR 1s;
}

.out {
  position: relative;
  animation: AN_out 0.8s;
}

.in {
  position: relative;
  animation: AN_in 0.8s;
}

.effect {
  transition: color 1s, transform 1s;
}

.effect:hover{
  color: white;
  transform: scale(1.2);
}

.effect2 {
  transition: border 0.6s, color 0.6s;
}

.effect2:hover{
  border-color: white;
  color: white;
}


@media screen and (max-width: 380px){
  .title {
    font-size: 8ex;
  }
  .subtitle {
    font-size: 6ex;
  }
  .input {
    margin-top: 2.8em;
    margin-bottom: 2.8em;
  }
  .buttonBorder {
    height: 4ch;
    font-size: 15px;
    margin-left: 1em;
  }
  .game {
    font-size: 14px;
  }

}

@media screen and (max-width: 500px){
  .exception {
    font-size: 14px
  }
}


@keyframes AN_line {
  0% {transform: scaleX(0)}
  100% {transform: scaleX(1)}
}

@keyframes AN_fillBlack {
  0% {background-color: transparent}
  100% {background-color: black}
}

@keyframes AN_fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes AN_subtitle {
  0% {top: -1em; opacity: 0}
  100% {top: 0em; opacity: 1}
}

@keyframes AN_foldIn {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes AN_foldOut {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes AN_buttonFill {
  0% {background: transparent}
  100% {background: black}
}

@keyframes AN_buttonText {
  0% {color: transparent}
  100% {color: gainsboro}
}

 @keyframes AN_gameStart {
   0% {
     transform: scaleX(0);
     transform: scaleY(0);
   }
   50% {
     transform: scaleX(1);
     transform: scaleY(0);
   }
   100%{
     transform: scaleY(1);
   }
 }

@keyframes AN_inR {
  0% {left: -50%}
  70% {left: 0.5%}
  100% {left: 0%}
}

@keyframes AN_outR {
  0% {left: 0%}
  60% {left: 0.5%}
  100% {left: -50%}
}

@keyframes AN_in {
  0% {left: -50%}
  100% {left: 0%}
}

@keyframes AN_out {
  0% {left: 0%}
  100% {left: -50%}
}
